spring:
  application:
    name: dynamic-form
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.zjjg.digitize.entity
server:
  port: 8080